<?xml version="1.0" encoding="utf-8"?>
<manifest package="aicare.net.cn.sdk.ailinksdkdemoandroid"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!--兼容6.0以上的手机Ble-->
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--OTA需要读写文件-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        tools:targetApi="q">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ShowBleActivity" />
        <activity android:name=".BabyCmdActivity" />
        <activity android:name=".TempGunCmdActivity" />
        <activity android:name=".SphyCmdActivity" />
        <activity android:name=".TempCmdActivity" />
        <activity android:name=".HeightCmdActivity" />
        <activity android:name=".BleCmdActivity" />
        <activity android:name=".TestCmdActivity" />
        <activity android:name=".TpmsConnectCmdActivity" />
        <activity android:name=".ConnectBleTestActivity" />
        <activity android:name=".ADWeightScaleCmdActivity" />
        <activity android:name=".ADWeightScaleUserActivity" />
        <activity android:name=".WeightScaleWifiBleActivity" />
        <activity android:name=".WeightScaleBleActivity"/>
        <activity android:name=".WifiConfigActivity"/>
        <activity android:name=".EightBodyfatActivity"/>
        <activity android:name=".TestOtaActivity"/>
        <activity android:name=".BloodGlucoseActivity"/>
        <activity android:name=".BabyBodyFatCmdActivity" />
        <activity android:name=".BroadcastScaleActivity" />
        <activity android:name=".TransmissionActivity"/>
        <activity android:name=".BroadcastBloodOxygenActivity" />
        <activity android:name=".SmartMaskActivity" />
        <activity android:name=".ToothBrushWifiBleActivity" />

        <service android:name="com.pingwang.bluetoothlib.server.ELinkBleServer"/>
    </application>

</manifest>